<!-- Summary Index -->
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">SUMMARY</h3>
        </div>
    </div>

    <div class="card card-dark" style="width:100%">
        <div class="card-header">
            <span class="card-title">Summary</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="overflow-y:auto">
            <table id="summary_table" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%">Job Number</th>
                        <th style="text-align:center">Estimated Budget</th>

                        <th style="text-align:center">Labor Cost</th>
                        <th style="text-align:center">OT Labor Cost</th>
                        <th style="text-align:center">Accomodation Cost</th>
                        <th style="text-align:center">Compensation Cost</th>

                        <th style="text-align:center">Cost to Date</th>
                        <th style="text-align:center">Remainning Cost</th>
                        <th style="text-align:center">Cost Usage(%)</th>
                        <th style="text-align:center">Work Completion(%)</th>

                        <th style="text-align:center">Normal Man Hour</th>
                        <th style="text-align:center">1.5 Man Hour</th>
                        <th style="text-align:center">3.0 Man Hour</th>
                        <th style="text-align:center">Total Man Hour</th>
                        <th style="text-align:center">Number of Labor</th>
                        <th style="text-align:center">Average Labor Cost Per Hour</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var table;

        $(document).ready(function () {
            GetJobsSummary();
        });

        async function GetJobsSummary() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobsSummary", "Summary")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Response");
                    console.log(response);
                    GenSummaryTable(response);
                }
            });
        }

        function GenSummaryTable(summaries) {
            var datas = [];
            for (var i = 0; i < summaries.length; i++) {
                var job_year = summaries[i].job_id.substring(0, 3);
                var job_number = summaries[i].job_id.substring(4, summaries[i].job_id.length).padStart(4,'0');
                datas.push([
                    job_year + '-' + job_number,
                    summaries[i].estimated_budget,
                    summaries[i].labor_cost,
                    summaries[i].ot_labor_cost,
                    summaries[i].accomodation_cost,
                    summaries[i].compensation_cost,
                    summaries[i].cost_to_date,
                    summaries[i].remainning_cost,
                    summaries[i].cost_usage,
                    summaries[i].work_completion,
                    summaries[i].hours,
                    summaries[i].ot_1_5,
                    summaries[i].ot_3,
                    summaries[i].total_man_hour,
                    summaries[i].no_of_labor,
                    summaries[i].avg_labor_cost_per_hour,
                ]);
            }

            if (table != null)
                table == null

            table = $('#summary_table').DataTable({
                data: datas,
                pagingType: "full_numbers",
                columnDefs: [
                    {
                        targets: []
                    },
                ],
            });
        }

    </script>
}