<!-- Summary Index -->
<div class="container-fluid" style="padding-top:10px">
    <div class="card card-dark" style="width:100%">
        <div class="card-header">
            <span class="card-title">Summary</span>
        </div>
        <div class="card-body" style="overflow-y:auto">
            <table id="summary_table" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%">Job Number</th>
                        <th style="text-align:center">Estimated Budget</th>

                        <th style="text-align:center">Labor Cost</th>
                        <th style="text-align:center">OT Labor Cost</th>
                        <th style="text-align:center">Accomodation Cost</th>
                        <th style="text-align:center">Compensation Cost</th>

                        <th style="text-align:center">Cost to Date</th>
                        <th style="text-align:center">Remainning Cost</th>
                        <th style="text-align:center">Percent Cost Usage</th>
                        <th style="text-align:center">Percent Work Completion</th>

                        <th style="text-align:center">Total Normal Man Hour</th>
                        <th style="text-align:center">Total 1.5X Man Hour</th>
                        <th style="text-align:center">Total 3.0X Man Hour</th>
                        <th style="text-align:center">Total Man Hour</th>
                        <th style="text-align:center">Number of Labor</th>
                        <th style="text-align:center">Average Labor Cost Per Hour</th>
                    </tr>
                </thead>
                <tbody>

                    @*<!-- Project 1 -->
                    <tr style="height:50px">

                        <!-- Job Number -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>J21-XXXX</span>
                        </td>
                        <!-- Estimated Budget -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>10,000,000</span>
                        </td>
                        <!-- Labor Cost -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>4,000,000</span></td>
                        <!-- OT Labor Cost -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>2,000,000</span>
                        </td>
                        <!-- Accomodation Cost -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>1,000,000</span>
                        </td>
                        <!-- Compensation Cost -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>1,000,000</span>
                        </td>
                        <!-- Cost to Date -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>8,000,000</span>
                        </td>
                        <!-- Remaining Cost -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>2,000,000</span>
                        </td>
                        <!-- Percent Cost Usage -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>80 %</span>
                        </td>
                        <!-- Percent Work Completion -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>75 %</span>
                        </td>

                        <!-- Total Normal Man Hour -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>10,000</span>
                        </td>
                        <!-- Total 1.5X Man Hour -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>6,000</span>
                        </td>
                        <!-- Total 3.0X Man Hour -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>5,000</span>
                        </td>
                        <!-- Total Man Hour -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>11,500</span>
                        </td>
                        <!-- Number of Labor -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>100</span>
                        </td>
                        <!-- Average Labor Cost Per Hour -->
                        <td style="text-align:center;vertical-align:middle">
                            <span>400</span>
                        </td>

                    </tr>*@

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var table;

        $(document).ready(function () {
            GetJobsSummary();
        });

        async function GetJobsSummary() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobsSummary", "Summary")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Response");
                    console.log(response);
                    GenSummaryTable(response);
                }
            });
        }

        function GenSummaryTable(summaries) {
            var datas = [];
            for (var i = 0; i < summaries.length; i++) {
                datas.push([
                    summaries[i].job_id,
                    summaries[i].estimate_budget,
                    summaries[i].labor_cost,
                    summaries[i].labor_cost_ot,
                    summaries[i].accomodation_cost,
                    summaries[i].compensation_cost,
                    summaries[i].cost_to_date,
                    summaries[i].remainning_cost,
                    summaries[i].percent_cost_usage,
                    summaries[i].percent_work_completion,
                    summaries[i].normal_manhour,
                    summaries[i].x15_manhour,
                    summaries[i].x30_manhour,
                    summaries[i].total_manhour,
                    summaries[i].number_of_labor,
                    summaries[i].avg_labor_cost_per_hour,
                ]);
            }

            if (table != null)
                table == null

            table = $('#summary_table').DataTable({
                data: datas,
                pagingType: "full_numbers",
            });
        }

    </script>
}