<!-- Summary Index -->
<div class="container-fluid" style="padding-top:10px">
    <div class="card card-dark" style="width:100%">
        <div class="card-header">
            <span class="card-title">Summary</span>
        </div>
        <div class="card-body">
            <table id="summary_table" class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center">Job Number</th>
                        <th style="text-align:center">Estimated Budget</th>

                        <th style="text-align:center">Labor Cost</th>
                        <th style="text-align:center">OT Labor Cost</th>
                        <th style="text-align:center">Accomodation Cost</th>
                        <th style="text-align:center">Compensation Cost</th>

                        <th style="text-align:center">Cost to Date</th>
                        <th style="text-align:center">Remainning Cost</th>
                        <th style="text-align:center">Percent Cost Usage</th>
                        <th style="text-align:center">Percent Work Completion</th>

                        <th style="text-align:center">Total Normal Man Hour</th>
                        <th style="text-align:center">Total 1.5X Man Hour</th>
                        <th style="text-align:center">Total 3.0X Man Hour</th>
                        <th style="text-align:center">Total Man Hour</th>
                        <th style="text-align:center">Number of Labor</th>
                        <th style="text-align:center">Average Labor Cost Per Hour</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Project 1 -->
                    <tr>

                        <!-- Job Number -->
                        <td>J21-XXXX</td>
                        <!-- Estimated Budget -->
                        <td>10,000,000</td>

                        <!-- Labor Cost -->
                        <td>4,000,000</td>
                        <!-- OT Labor Cost -->
                        <td>2,000,000</td>
                        <!-- Accomodation Cost -->
                        <td>1,000,000</td>
                        <!-- Compensation Cost -->
                        <td>1,000,000</td>

                        <!-- Cost to Date -->
                        <td>8,000,000</td>
                        <!-- Remaining Cost -->
                        <td>2,000,000</td>
                        <!-- Percent Cost Usage -->
                        <td>80 %</td>
                        <!-- Percent Work Completion -->
                        <td>75 %</td>

                        <!-- Total Normal Man Hour -->
                        <td>10,000</td>
                        <!-- Total 1.5X Man Hour -->
                        <td>6,000</td>
                        <!-- Total 3.0X Man Hour -->
                        <td>5,000</td>
                        <!-- Total Man Hour -->
                        <td>11,500</td>
                        <!-- Number of Labor -->
                        <td>100</td>
                        <!-- Average Labor Cost Per Hour -->
                        <td>400</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

    </script>
}