<!-- Job Index -->
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">Jobs</h3>
        </div>
    </div>

    <div id="jobs">

        <!-- Job 01 -->
        <div class="card card-dark" style="width:100%">
            <div class="card-header">
                <span class="card-title">Job 01-XXXX</span>
            </div>
            <div class="card-body">
                <table id="job_table" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Normal</th>
                            <th>Overtime</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Person 1 -->
                        <tr>
                            <td>1</td>
                            <td>Staff A</td>
                            <td>80</td>
                            <td>5</td>
                            <td>10,000</td>
                        </tr>

                        <!-- Person 2 -->
                        <tr>
                            <td>2</td>
                            <td>Staff B</td>
                            <td>80</td>
                            <td>0</td>
                            <td>10,000</td>
                        </tr>

                        <!-- Person 3 -->
                        <tr>
                            <td>3</td>
                            <td>Staff C</td>
                            <td>72</td>
                            <td>4</td>
                            <td>10,000</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Job 02 -->
        <div class="card card-dark" style="width:100%">
            <div class="card-header">
                <span class="card-title">Job 02-XXXX</span>
            </div>
            <div class="card-body">
                <table id="job_table2" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Normal</th>
                            <th>Overtime</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Person 1 -->
                        <tr>
                            <td>1</td>
                            <td>Staff D</td>
                            <td>72</td>
                            <td>2</td>
                            <td>9,000</td>
                        </tr>

                        <!-- Person 2 -->
                        <tr>
                            <td>2</td>
                            <td>Staff E</td>
                            <td>80</td>
                            <td>0</td>
                            <td>10,000</td>
                        </tr>

                        <!-- Person 3 -->
                        <tr>
                            <td>3</td>
                            <td>Staff F</td>
                            <td>76</td>
                            <td>8</td>
                            <td>10,000</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>