<!-- Job Index -->
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">JOBS</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="info-box bg-dark" style="height:90px">
                <div class="info-box-content">
                    <span class="info-box-text">Total Jobs</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-dark form-control" style="height:90px">
                Add Job
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-dark form-control" style="height:90px">
                Import Jobs
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-dark form-control" style="height:90px">
                Import Progress
            </button>
        </div>
    </div>

</div>