<!-- Salary Per Hour Index -->
@{
    ViewData["Title"] = "Salary Per Hour";
}
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">Salary Per Hour</h3>
        </div>
    </div>

    <div id="jobs">
        @* Generate by JavaScript *@
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            GetData();
        });

        async function GetData() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetData", "SalaryHour")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log(response);
                    GenChart(response);
                }
            });
        }

        function GenChart(data) {
            $('#jobs').empty();
            for (var i = 0; i < data.length; i++) {
                var str = '<div class="card card-dark"><div class="card-header"><span class="card-title">' + data[i].job_id + '</span></div>';
                str += '<div class="card-body"><canvas id="' + data[i].job_id + '" style="height:400px"></canvas></div></div>';
                $('#jobs').append(str);

                var ctx = document.getElementById(data[i].job_id).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data[i].weeks,
                        datasets: [
                            {
                                label: 'Salary Per Hour',
                                data: data[i].salaries,
                                backgroundColor: 'rgba(32, 67, 198, 1)',
                                borderColor: 'rgba(32, 67, 198, 1)',
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                ticks: { beginAtZero: true }
                            }
                        },
                        maintainAspectRatio: false
                    }
                });

            }
        }
    </script>
}