<!-- Import Job View Index -->
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">Imports</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <button id="btn_import_jobs" class="btn btn-dark form-control" style="height:100px">
                Import Jobs
            </button>
        </div>
        <div class="col-3">
            <button id="btn_import_hours" class="btn btn-dark form-control" style="height:100px">
                Import Working Hour
            </button>
        </div>
        <div class="col-3">
            <button id="btn_import_ots" class="btn btn-dark form-control" style="height:100px">
                Import Overtimes
            </button>
        </div>
        <div class="col-3">
            <button id="btn_import_progress" class="btn btn-dark form-control" style="height:100px">
                Import Job's Progress
            </button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-4">
            <div class="card card-dark">
                <div class="card-header">
                    <span class="card-title">Import Overtime</span>
                </div>
                <div class="card-body">
                    <label id="file_label">Choose File</label>
                    <input id="import_file_ot" type="file" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-dark">
                <div class="card-header">
                    <span class="card-title">Import Projects</span>
                </div>
                <div class="card-body">
                    <label id="file_label2">Choose File</label>
                    <input id="import_file2" type="file"/>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-dark">
                <div class="card-header">
                    <span class="card-title">Import Staffs</span>
                </div>
                <div class="card-body">
                    <label id="file_label3">Choose File</label>
                    <input id="import_file3" type="file"/>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="card-title">Uploaded Content</span>
        </div>
        <div class="card-body">
            <div id="divPrint"></div>
        </div>
    </div>

</div>

<partial name="ModalImportJob" />
<partial name="ModalImportWorkHours" />
<partial name="ModalImportOvertimes" />
<partial name="ModalImportProgress" />

@section Scripts
{
    <script type="text/javascript">

        $('#btn_import_jobs').on('click', function () {
            $('#modal_import_job').modal("show");
        });

        $('#btn_import_hours').on('click', function () {
            $('#modal_import_working_hours').modal("show");
        });

        $('#btn_import_ots').on('click', function () {
            $('#modal_import_overtimes').modal("show");
        });

        $('#btn_import_progress').on('click', function () {
            $('#modal_import_progress').modal("show");
        });

        $('#import_file_ot').on('change', async function () {
            $('#divPrint').empty();
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#import_file_ot').val();

            if (filename.length == 0) {
                alert("Please Select a File");
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                }
            }

            var fdata = new FormData();
            var fileupload = $('#import_file_ot').get(0);
            var files = fileupload.files;

            fdata.append(files[0].name, files[0]);
            $('#file_label').text(files[0].name);
            await $.ajax({
                type: "POST",
                url: "ImportJob/ImportOT",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        console.log("Response");
                        console.log(response);
                        $('#divPrint').html(response);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        });


        $('#import_file2').on('change', async function () {
            $('#divPrint').empty();
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#import_file2').val();

            if (filename.length == 0) {
                alert("Please Select a File");
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                }
            }

            var fdata = new FormData();
            var fileupload = $('#import_file2').get(0);
            var files = fileupload.files;

            fdata.append(files[0].name, files[0]);
            $('#file_label2').text(files[0].name);
            await $.ajax({
                type: "POST",
                url: "ImportJob/Import2",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        console.log("Response");
                        console.log(response);
                        $('#divPrint').html(response);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        });

        $('#import_file3').on('change', async function () {
            $('#divPrint').empty();
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#import_file3').val();

            if (filename.length == 0) {
                alert("Please Select a File");
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                }
            }

            var fdata = new FormData();
            var fileupload = $('#import_file3').get(0);
            var files = fileupload.files;

            fdata.append(files[0].name, files[0]);
            $('#file_label3').text(files[0].name);
            await $.ajax({
                type: "POST",
                url: "ImportJob/Import3",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        console.log("Response");
                        console.log(response);
                        $('#divPrint').html(response);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        });

    </script>
}