<!-- Add Job Modal -->
<div class="modal" id="modal_add_job">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5>Add Job</h5>
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form>
                    <label for="input_job_id">Job Id</label>
                    <input id="input_job_id" class="form-control" type="text"/>

                    <br />

                    <label for="input_job_name">Name</label>
                    <input id="input_job_name" class="form-control" type="text"/>

                    <br />

                    <label for="input_job_budget">Budget</label>
                    <input id="input_job_budget" class="form-control" type="number"/>

                    <br />

                    <label for="input_job_progress">Progress</label>
                    <input id="input_job_progress" class="form-control" type="range"/>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button class="btn btn-primary" type="button">
                    Add
                </button>

                <button class="btn btn-danger" type="button" data-dismiss="modal">
                    Cancel
                </button>
            </div>

        </div>
    </div>
</div>