<!-- Import Job Modal -->
<div class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

            </div>

            <!-- Modal Body -->
            <div class="modal-body">

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>