<!-- Project Index -->
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">Jobs Management</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <div class="info-box bg-dark" style="height:100%">
                <i class="info-box-icon fas fa-list"></i>
                <div class="info-box-content">
                    <span class="info-box-text">Total Project</span>
                    <span class="info-box-number">3/3</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <button id="btn_add_job" class="btn btn-dark" style="width:100%;height:100%">
                Add Job
            </button>
        </div>
        <div class="col-3">
            <button id="btn_import_job" class="btn btn-dark" style="width:100%;height:100%">
                Import Job(s)
            </button>
        </div>
    </div>
    
    <br />

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Job(s)</span>
        </div>
        <div class="card-body">
            <table id="project_table" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>JOB ID</th>
                        <th>Name</th>
                        <th>PM</th>
                        <th>Budget</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>P01</td>
                        <td>Project 01</td>
                        <td>Manager A</td>
                        <td>10M</td>
                    </tr>

                    <tr>
                        <td>P02</td>
                        <td>Project 02</td>
                        <td>Manager B</td>
                        <td>5M</td>
                    </tr>

                    <tr>
                        <td>P03</td>
                        <td>Project 03</td>
                        <td>Manager C</td>
                        <td>1M</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<partial name="AddJobModal" />
<partial name="ImportJobModal" />

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

        });

        $('#btn_add_job').on('click', function () {
            $('#modal_add_job').modal();
        });

    </script>
}