<!-- Project Index -->
<div class="container-fluid" style="padding-top:10px">
    
    <div class="row align-content-end">
        <div class="col-1">
            <button id="add_project" class="btn btn-primary form-control" type="button">
                Add Project
            </button>
        </div>
        <div class="col-1">
            <button id="import_project" class="btn btn-primary form-control" type="button">
                Import Project
            </button>
        </div>
    </div>

    <br />

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Projects</span>
        </div>
        <div class="card-body">
            <table id="project_table" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>PM</th>
                        <th>Budget</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>P01</td>
                        <td>Project 01</td>
                        <td>Manager A</td>
                        <td>10M</td>
                    </tr>

                    <tr>
                        <td>P02</td>
                        <td>Project 02</td>
                        <td>Manager B</td>
                        <td>5M</td>
                    </tr>

                    <tr>
                        <td>P03</td>
                        <td>Project 03</td>
                        <td>Manager C</td>
                        <td>1M</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}