<!-- Progress Index -->
<div class="container-fluid" style="padding-top:10px">

    <style>

        table.dataTable tbody td {
            vertical-align:middle;
            cursor:pointer;
        }

    </style>

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">Progress</h3>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Import Progress</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <label>Select Year</label>
                    <select id="select_progress_year" class="form-control">
                        <option>2021</option>
                        <option>2020</option>
                        <option>2019</option>
                    </select>
                </div>
                <br />
                <div class="form-row">
                    <label>Select Month</label>
                    <select id="select_progress_month" class="form-control">
                        <option>JAN 1</option>
                        <option>JAN 2</option>
                        <option>FEB 1</option>
                    </select>
                </div>
                <br />
                <div class="form-row">
                    <label>
                        Select File
                    </label>
                    <input id="input_modal_progress_file" class="form-control-file" type="file" />
                </div>
            </form>
        </div>
    </div>

    <div id="card_uploaded_content" class="card card-dark" style="display:none">
        <div class="card-header">
            <span class="card-title">
                Uploaded Content
            </span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Job's Progress</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table id="table_jobs" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center">Job ID</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Budget</th>
                        <th style="text-align:center">Remain</th>
                        <th style="text-align:center"></th>
                        <th style="text-align:center">Progress</th>
                        <th style="text-align:center"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="card_job_detail" class="card card-dark" style="display:none">
        <div class="card-header">
            <span id="job_number_detail" class="card-title">
                J21-0001
            </span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <label for="job_name">
                    Job Name
                </label>
                <input id="job_name" class="form-control" type="text"/>
            </div>
            <br />
            <div class="form-row">
                <label for="job_estimated_budget">
                    Estimated Budget
                </label>
                <input id="job_estimated_budget" class="form-control" type="text"/>
            </div>
            <br />
            <table id="table_details" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:5%">Year</th>
                        <th style="width:15%">Month</th>
                        <th style="width:30%">Budget Spent</th>
                        <th style="width:5%"></th>
                        <th style="width:30%">Progress</th>
                        <th style="width:5%"></th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @* Generate by JavaScript *@
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        var table_jobs;
        var table_details;
        var jobs = [];
        var months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        $(document).ready(function () {
            GetData();
        })

        async function GetData() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetData", "Progress")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Response");
                    console.log(response);
                    jobs = response;
                    GenJobsTable();
                }
            });
        }

        function GenJobsTable() {
            var datas = [];
            for (var i = 0; i < jobs.length; i++) {
                datas.push([
                    jobs[i][jobs.length].job_number,
                    jobs[i][jobs.length].job_name,
                    jobs[i][jobs.length].estimated_budget,
                    jobs[i][jobs.length].remainning_cost,
                    jobs[i][jobs.length].remainning_cost / jobs[i][jobs.length].estimated_budget * 100,
                    jobs[i][jobs.length].job_progress,
                    jobs[i][jobs.length].job_progress,
                ]);
            }

            if (table_jobs != null)
                $('#table_jobs').DataTable().destroy();

            table_jobs = $('#table_jobs').DataTable({
                data: datas,
                pagingType: "full_numbers",
                columnDefs: [
                    {
                        targets: [4, 6],
                        orderable: false,
                        searchable: false
                    },
                ],
                rowCallback: function (row, data) {

                    $('td', row).eq(2).css("text-align", "center");
                    $('td', row).eq(3).css("text-align", "center");
                    $('td', row).eq(4).css("text-align", "center");
                    $('td', row).eq(5).css("text-align", "center");
                    $('td', row).eq(6).css("text-align", "center");

                    var remain_str = '<div class="progress progress-xs progress-striped active">';
                    remain_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[4]) + '%"></div></div>';
                    $('td', row).eq(3).html(remain_str);
                    var remain_percent_str = '<span class="badge bg-primary">' + Math.round(data[4]) + '%</span>';
                    $('td', row).eq(4).html(remain_percent_str);
                    var progress_str = '<div class="progress progress-xs progress-striped active">';
                    progress_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[5]) + '%"></div></div>';
                    $('td', row).eq(5).html(progress_str);
                    var progress_percent_str = '<span class="badge bg-primary">' + Math.round(data[6]) + '%</span>';
                    $('td', row).eq(6).html(progress_percent_str);

                }
            });

            $('#table_jobs tbody').on('click', 'tr', function () {
                GenJobsDetail(table_jobs.row(this).data()[0]);
            });

        }

        function GenJobsDetail(job_id) {
            var index = -1;
            for (var i = 0; i < jobs.length; i++) {
                if (jobs[i][0].job_number == job_id)
                    index = i;
            }

            if (index > -1) {
                console.log(jobs[index]);
                var card = document.getElementById("card_job_detail");
                card.style.display = "block";
                $('#job_number_detail').text("Job Number: " + jobs[index][0].job_number);
                $('#job_name').val(jobs[index][0].job_name);
                $('#job_estimated_budget').val(jobs[index][0].estimated_budget);
            }

            if(table_details != null)
                $('#table_details').DataTable().destroy();

            var datas = [];
            for (var i = 0; i < jobs[index].length; i++) {
                datas.push([
                    jobs[index][i].year,
                    months[jobs[index][i].month - 1],
                    jobs[index][i].spent_cost,
                    jobs[index][i].spent_cost / jobs[index][i].estimated_budget * 100,
                    jobs[index][i].job_progress,
                    jobs[index][i].job_progress,
                    0
                ]);
            }

            table_details = $('#table_details').DataTable({
                data: datas,
                pagingType: "full_numbers",
                columnDefs: [
                    {
                        targets: [3, 5, 6],
                        orderable: false,
                        searchable: false
                    },
                ],
                rowCallback: function (row, data) {
                    $('td', row).eq(0).css("text-align", "center");
                    $('td', row).eq(1).css("text-align", "center");
                    $('td', row).eq(2).css("text-align", "center");
                    $('td', row).eq(3).css("text-align", "center");
                    $('td', row).eq(4).css("text-align", "center");
                    $('td', row).eq(5).css("text-align", "center");
                    $('td', row).eq(6).css("text-align", "center");

                    var budget_spent_str = '<div class="progress progress-xs progress-striped active">';
                    budget_spent_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[3]) + '%"></div></div>';
                    $('td', row).eq(2).html(budget_spent_str);
                    var spent_percent_str = '<span class="badge bg-primary">' + Math.round(data[3]) + '%</span>';
                    $('td', row).eq(3).html(spent_percent_str);
                    var progress_str = '<div class="progress progress-xs progress-striped active">';
                    progress_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[5]) + '%"></div></div>';
                    $('td', row).eq(4).html(progress_str);
                    var progress_percent_str = '<span class="badge bg-primary">' + Math.round(data[5]) + '%</span>';
                    $('td', row).eq(5).html(progress_percent_str);

                    $('td', row).eq(6).html('<button class="btn btn-primary form-control">Edit</button>');
                }
            });


        }

    </script>
}