<!-- Man Per Hour Index -->
<div class="container-fluid" style="padding-top:10px">
    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">Manpower Per Hour</h3>
        </div>
    </div>
    <div id="projects"></div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            GetData();
        });

        async function GetData() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetData", "ManHour")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Response");
                    console.log(response);
                    GenChart(response);
                }
            });
        }

        function GenChart(data) {
            $('#projects').empty();
            for (var i = 0; i < data.length; i++) {
                var str = '<div class="card card-dark"><div class="card-header"><span class="card-title">' + data[i].job_id + '</span></div>';
                str += '<div class="card-body"><canvas id="' + data[i].job_id + '" style="height:400px"></canvas></div></div>';
                $('#projects').append(str);

                var ctx = document.getElementById(data[i].job_id).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data[i].week,
                        datasets: [
                            {
                                label: 'Normal',
                                data: data[i].normal,
                                backgroundColor: 'rgba(32, 67, 198, 1)',
                                borderColor: 'rgba(32, 67, 198, 1)',
                                borderWidth: 1
                            },
                            {
                                label: 'Overtime',
                                data: data[i].overtime,
                                backgroundColor: 'rgba(40, 121, 191, 1)',
                                borderColor: 'rgba(40, 121, 191, 1)',
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: {
                                ticks: {
                                    beginAtZero: true
                                },
                                stacked: false
                            },
                            xAxes: {
                                stacked: false
                            }
                        },
                        maintainAspectRatio: false
                    }
                });

            }
        }

    </script>
}